
*{
    font-family: "Rimouski";
}

body{
    background: linear-gradient(135deg,rgb(5, 5, 5,0.9),rgba(0, 0, 0, 0.6)) ,url(bg3.jpg);
    background-size: cover;
    overflow: hidden;
    backdrop-filter: blur(3px);
}

.container{
    width: 300px; 
    background: rgb(255, 255, 255,0.1); 
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 130px auto;
    overflow: hidden;
    
    border-radius: 10px;
    padding-bottom : 50px;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgb(255, 255, 255,0.5);
    border-left: 1px solid rgb(255, 255, 255,0.5);
    

}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: white;
}

.notification{
    display: none;
}

.notification p{
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 1px black;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 260px;
    
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    font-size: 4em;
    color: #d3d3d3;

    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    font-size: 0.5em;
    color: #d3d3d3;

}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    text-align: center;
    color: #d3d3d3;

    font-size: 1.2em;
}

.location{
    
}

.location p{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #d3d3d3;
    font-size: 0.8em;
}